.App {
  text-align: center;
}
body {
  background-color: #EDCB64;

 }

div .movie {
  font-size: 20px;
  padding-top: 1px;
  font-family: Futura;
  text-decoration: none;
  color: #F24D29;
}

a:link {
  color: #F24D29;
  text-decoration: none;
}

a:visited {
  color: white;
}
a:hover {
  color: #F24D29;
}
div .movie-list {
  font-family: Futura;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;

  color: black;
}

h1 {
  font-family: Futura;
  position: absolute;
  top: 70px;
  left: 200px;
  font-weight:bolder;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
  font-size: 70px;
  padding-top: 20px;

  -webkit-text-fill-color: #EDCB64;
  -webkit-text-stroke-color: #1DACE8;
  -webkit-text-stroke-width: 4.75px;
}
h3  {
  font-family: Futura;
  font-weight:bolder;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  padding-top: 70px;


  -webkit-text-fill-color: #1DACE8;
  -webkit-text-stroke-color: #1DACE8;

}
 button {
   position: relative;
  left: 430px;
  top:20px;

   font-family: Futura;
   font-weight: bold;
   font-size: 18px;
   letter-spacing: 5px;
   text-transform: uppercase;
   padding-top: 10px;
   padding-right: 20px;
   padding-left: 20px;
   background-color: #EDCB64;
   border-radius: 3px;
   border: none;

   color:#1DACE8;
 }

 button:hover{
   color: #F24D29;

 }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
